.tabPractice {
  width: 80%;
  margin: 50px auto;
  /* background-color: #1a9cdb; */
}

h2 {
  font-size: 4em;
  font-family: "cooper black";
  color: #fa8ab0;
  -webkit-text-stroke: 2.5px #b61588;
  margin-top: 1em;
  text-align: center;
}
